@import url("https://fonts.googleapis.com/css2?family=Inter");

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

body {
	--bg: #000;
	--col: #fff;
	--lightgray: hsl(216, 12.2%, 83.9%);
	background: var(--bg);
	color: var(--col);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 20px;
	padding: 20px;
}

header h1 {
	font-size: 1.5em;
}

header nav {
	display: none;
}

header .bars {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

header .bars i {
	font-size: 1.2em;
	box-shadow: 0px 0px 1px
		var(--lightgray);
	border-radius: 4px;
	height: 45px;
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .bars i:first-child {
	border-radius: 50%;
}
